## Practical Exam
- Submitted By: Parth Dhawan

### Q1

a)

In [3]:
def oddSum(n) :
    sum = 0
    curr = 1
    i = 0
    while i < n:
        sum = sum + curr
        curr = curr + 2
        i = i + 1
    return sum
 
# Driver Code
n = 20
print (" Sum of first" , n, "Odd Numbers is: ",oddSum(n) )

 Sum of first 20 Odd Numbers is:  400

#### b)

In [4]:
def evensum(n):
    curr = 2
    sum = 0
    i = 1
     
    # sum of first n even numbers
    while i <= n:
        sum += curr
         
        # next even number
        curr += 2
        i = i + 1
    return sum
 
# Driver Code
n = 20
print("sum of first ", n, "even number is: ",
      evensum(n))

sum of first  20 even number is:  420

### c)

In [5]:
num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

#### Q2)

In [15]:
t1 = (1,2,5,7,9,2,4,6,8,10)

#### a)

In [17]:
#first half of the tuple
print('First half of tuple:', t1[:5])
print('Second half of the tuple',t1[5:])

First half of tuple: (1, 2, 5, 7, 9)
Second half of the tuple (2, 4, 6, 8, 10)

#### b)

In [19]:
print("\nThe Even Numbers in this t1 Tuple are:")
for i in range(len(t1)):
    if(t1[i] % 2 == 0):
        print(t1[i], end = "  ")

The Even Numbers in this t1 Tuple are:
2  2  4  6  8  10

### c)

In [23]:
#conatinating 
t2=(11,13,15)
t1=t1+t2
print('concatinated tuple is:',t1+t2)

concatinated tuple is: (1, 2, 5, 7, 9, 2, 4, 6, 8, 10, 11, 13, 15, 11, 13, 15)

#### d)

In [24]:
#max and. min value
print ("maximum value=",max(t1))
print ("minimum value=",min(t1))

maximum value= 15
minimum value= 1

#### Q3

#### A)

In [36]:
text='hello world'
print('1: To find the length of the sting \n')
print('2: To return max of three strings \n')
print('3: Accept a string every sucessive char with # \n')
print('4: Find number of words in the given string \n')

option=int(input('Enter any number between 1-4 \n'))

if option == 1:
  print('len of string is:',len(text))

elif option== 2:
  print(text[:3])

elif option == 3:
  ch=[]
  for i in 'Hello World':
      ch.append(i)
  for j in range(1,len(ch),2):
      if ch[j] != " ": 
          ch[j]= '#'
  s=''
  for k in ch:
      s=s+k
  print(s)
  
else:
  res = len(text.split())
  print ("The number of words in string are : " +  str(res))

1: To find the length of the sting

2: To return max of three strings

3: Accept a string every sucessive char with #

4: Find number of words in the given string

Enter any number between 1-4
3
H#l#o W#r#d